body {
    min-height: 100vh;
}

h1 {
    color: #f807c0;
}

/* menu */
.navbar {
    background-color: pink;
    font-weight: bold;
}

.navbar-brand {
    font-family: Calibri, serif;
    font-size: xx-large;
    color: black;
}

.navbar-brand:hover {
    font-family: Calibri, serif;
    font-size: xx-large;
    color: black;
    text-decoration: underline;
}

.navbar a {
    color: black;
    font-weight: bold;
}

.navbar a:hover {
    color: black;
    text-decoration: underline;
}

/* footer */
footer {
    background-color: rgba(255, 175, 185, 0.21) !important;
}

footer .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    border: none;
}

footer .list-group {
    margin-top: 1rem;
}

footer .list-group-item {
    position: relative;
    display: block;
    padding: .25rem 1.25rem;
    margin-bottom: -1px;
    background-color: transparent;
    border: none;
}

footer a {
    color: hotpink;
}

footer a:hover {
    color: hotpink;
    text-decoration: underline;
}