<meta charset="utf-8">
<meta name="theme-color" content="#ffc0cb">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ .Site.Params.description }}"/>
<meta name="keywords" content="{{ .Site.Title }}, {{ .Site.Params.Description }}, 
{{ .Site.Params.Tagline }}, support, administration, GDPR consulting, freelance"/>

<!-- G Suite verification -->
<meta name="google-site-verification" content="DCnkPUHuK_6b_72y_Jye5YSp0Za0elkQoR7-hpPCWXY"/>
