body {
    min-height: 100vh;
}

h1, h2, h5 {
    color: #f807c0;
}

a {
    color: hotpink;
}

a:hover {
    color: hotpink;
    text-decoration: underline;
}

/* menu */
.navbar {
    background-color: pink;
    font-weight: bold;
}

.navbar-brand {
    font-family: Calibri, serif;
    font-size: xx-large;
    color: black;
}

.navbar-brand:hover {
    font-family: Calibri, serif;
    font-size: xx-large;
    color: black;
    text-decoration: underline;
}

.navbar a {
    color: black;
    font-weight: bold;
}

.navbar a:hover {
    color: black;
    text-decoration: underline;
}

.nav-link.active {
    font-style: italic;
    text-decoration: underline;
}

/* contact */
.card-body h5 {
    color: black;
}

.card-body h5 i {
    color: hotpink;
}

#contact .row {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* skills */
.card-header {
    background-color: rgba(255, 175, 185, 0.21) !important;
}

/* footer */
footer {
    background-color: rgba(255, 175, 185, 0.21) !important;
}

footer .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    border: none;
}

footer .list-group {
    margin-top: 1rem;
}

footer .list-group-item {
    position: relative;
    display: block;
    padding: .25rem 1.25rem;
    margin-bottom: -1px;
    background-color: transparent;
    border: none;
}

.click-me {
    cursor: pointer;
}

/* Kelly image */
#kelly {
    width: 504px;
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
    #kelly {
        width: 378px;
    }
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    #kelly {
        width: 378px;
    }
    #contact .row {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    #contact .card {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
    #kelly {
        width: 252px;
    }
}