/* navigation */
.ui.menu .item {
    background-color: black;
    color: deeppink;
}

.ui.menu .active.item {
    background-color: black;
    color: deeppink;
    font-weight: bolder;
    text-decoration: underline;
}

/* Kelly image */
#kelly {
    width: 504px;
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
    #kelly {
        width: 378px;
    }
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    #kelly {
        width: 378px;
    }
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
    #kelly {
        width: 252px;
    }
}