<!DOCTYPE html>
<html lang="{{ .Lang }}">
    <head>
        <title>{{ .Site.Title }} - {{ .Site.Params.Tagline }}</title>
        <link rel="shortcut icon" href="/img/favicon.ico">
        
        {{ partial "head/meta.html" . }}
        {{ partial "head/social.html" . }}
        {{ partial "head/styles.html" . }}
        
        {{ block "head" . }}
        {{ end }}
    </head>
    <body>
        
        {{ partial "header/nav.html" . }}

        <main class="container">
            {{ block "main" . }}
            {{ end }}
        </main>

        {{ partial "footer/footer.html" }}
        {{ partial "footer/scripts.html" }}
    </body>
</html>
