/* #f807ac */
:root {
    --kelly-pink: #F807AC;
}

/* navigation */
.ui.menu .item {
    background-color: black;
    color: var(--kelly-pink);
    font-size: 1.3rem;
}

.ui.menu .active.item {
    background-color: black;
    color: var(--kelly-pink);
    font-weight: bold;
    text-decoration: underline;
}

/* sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body main {
    flex: 1;
}

footer {
    background-color: black;
    color: var(--kelly-pink);
    font-size: .8rem;
    line-height: 1.2;
}

footer.ui.grid {
    margin: 0;
}


/* url */
a {
    color: var(--kelly-pink);
    text-decoration: underline;
}

a:hover {
    color: var(--kelly-pink);
    text-decoration: none;
    font-weight: bold;
}

a i {
    text-decoration: none !important;
}

a:hover i {
    font-weight: bold;
}

/* contact button */

a#contact {
    font-size: 2rem;
    padding: 20px 40px;
    border-color: black;
    border-style: solid;
    border-width: medium;
    background-color: var(--kelly-pink);
    color: black;
}

.ui.segment {
    border: none;
    box-shadow: none;
}

a:hover#contact {
    text-decoration: underline;
}

/* Kelly image */
#kelly {
    width: 504px;
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
    #kelly {
        width: 378px;
    }
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    #kelly {
        width: 378px;
    }
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
    #kelly {
        width: 252px;
    }
}