<footer class="ui container stackable grid">
  <div class="row">
    <div class="five wide column left aligned">
      Lyax - A <a href="https://morethancode.be" rel="noopener" target="_blank" title="More Than Code" aria-label="More Than Code">More Than Code</a> division
      <br/>
      <a href="https://www.google.com/maps/place/Tolbroek+42,+2560+Nijlen" rel="noopener" target="_blank" title="address" aria-label="address">
        Tolbroek 42<br/>
        2560 Bevel, Belgium
      </a>
    </div>
    
    <div class="six wide column center aligned">
      <a href="tel:+32494912446" title="telephone" aria-label="telephone">
        <i class="phone icon"></i>+32 494 91 24 46
      </a>
      <br/>
      <a href="mailto:kelly@lyax.be" title="email" aria-label="email">
        <i class="envelope outline icon"></i>kelly@lyax.be
      </a>
    </div>
    
    <div class="five wide column right aligned">
      <a href="" title="terms & conditions" aria-label="terms & conditions">Terms & Conditions</a>
      <br/>
      <a href="" title="privacy policy" aria-label="privacy policy">Privacy policy</a>
      <br/>
      <a href="" title="cookie policy" aria-label="cookie policy">Cookie policy</a>
      <br/>
      <a href="{{ "/legal/juridische-vermeldingen" | relLangURL }}" title="juridische vermeldingen" aria-label="juridische vermeldingen">Juridische vermeldingen</a>
    </div>
  </div>
  <div class="row">
    <div class="column center aligned">
      Created by <a href="https://morethancode.be" rel="noopener" target="_blank" title="More Than Code" aria-label="More Than Code">More Than Code</a> |
      made with <a href="https://semantic-ui.com" rel="noopener" target="_blank" title="semantic ui framework" aria-label="semantic ui framework">Semantic-UI</a> |
      logo courtesey of <a href="https://www.mcorp.be" rel="noopener" target="_blank" title="mcorp" aria-label="mcorp">MCorp</a>
    </div>
  </div>
</footer>