<footer class="mt-4">
    <section class="container">
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Lyax</h5>
                        <div class="card-subtitle mb-2 text-muted">
                            a <a href="https://www.morethancode.be" rel="noopener" target="_blank"
                                aria-label="More Than Code">More Than Code</a>
                            division
                        </div>
                        <p>
                            Tolbroek 42<br />
                            2560 Bevel, Belgium
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <ul class="list-group">
                    <li class="list-group-item"><i class="fas fa-phone"></i> <a href="tel:+32494912446">+32 494 91 24
                            46</a></li>
                    <li class="list-group-item"><i class="far fa-envelope"></i> <a
                            href="mailto:kelly@lyax.be">kelly@lyax.be</a>
                    </li>
                    <li class="list-group-item click-me"
                        title="Copy to clipboard"
                        data-toggle="tooltip" 
                        data-placement="bottom" 
                        onclick="clipboard('BE0678.903.295')">
                        <i class="fas fa-hashtag"></i> {{ .Site.Params.Vat }} BE0678.903.295
                    </li>
                    <li class="list-group-item click-me"
                        title="Copy to clipboard"
                        data-toggle="tooltip" 
                        data-placement="bottom" 
                        onclick="clipboard('BE70 7512 08744 2525')">
                        <i class="fas fa-credit-card"></i> BE70 7512 0874 2525
                    </li>
                </ul>
            </div>

            <div class="col-md">
                <ul class="list-group">
                    <li class="list-group-item">&nbsp;</li>
                    <li class="list-group-item">Created by <a href="https://www.morethancode.be" rel="noopener"
                            target="_blank">More Than Code</a></li>
                    <li class="list-group-item">Based on <a href="https://getbootstrap.com" rel="noopener"
                            target="_blank">Bootstrap</a></li>
                    <li class="list-group-item">Logo by <a href="https://www.mcorp.be/" rel="noopener"
                            target="_blank">MCorp</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</footer>