{{ $currentUrl := .RelPermalink }}
{{ $logo := "images/logo.png" | relURL }}
{{ $homeUrl := "/" | relLangURL }}
<header>
  <a href="{{ $homeUrl }}" aria-label="{{ .Site.Params.Home }}">
    <img src={{ $logo }} alt="Logo" class="ui centered medium image computer only grid" />
    <img src={{ $logo }} alt="Logo" class="ui image mobile only grid" />
  </a>
</header>
<div class="ui container">
  <nav class="ui five item menu">
    <a href="{{ $homeUrl }}"
       class="item {{if eq $homeUrl $currentUrl}}active{{ end }}"
       aria-label="{{ .Site.Params.Home }}">
      {{ .Site.Params.Home }}
    </a>
    {{ range .Site.RegularPages }}
    <a href="{{ .RelPermalink }}"
       class="item {{if eq .RelPermalink $currentUrl}}active{{ end }}"
       aria-label="{{ .Title }}">
      {{ .Title }}
    </a>
    {{ end }}

    <div class="ui dropdown item">
      <img src={{ printf "/images/flags/%s.png" .Lang | relURL }} alt="{{ .Lang }}" aria-label="{{ .Lang }}" />
      <div class="menu">
        {{ $currentLang := .Lang }}
        {{ range .Translations }}
        {{ if not (eq $currentLang .Lang) }}
        <a href="{{ .RelPermalink }}" class="item">
                  <img src={{ printf "/images/flags/%s.png" .Lang | relURL }} alt={{ .Language.LanguageName }}
                    aria-label={{ .Language.LanguageName }} />
          {{ .Language.LanguageName }}
        </a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </nav>
</div>
<script>
    window.onload = function () {
        $('.ui.dropdown.item').dropdown({on: 'hover'});
    }
</script>